.App {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.jober:hover{
  border-color: #B68D40;  
}

.sandBoton {
  border-color: #D6AD60;
  background-color: none;
  color: #D6AD60

}

.sandBoton:hover{
  background-color: #D6AD60;
  color: white;
}

.inventada {
  transform: rotate(180deg);
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fonter {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
